//Default Font Families

// Primary Font Family (for headers)
$header_font: 'Bree Serif',
serif;
//Secondary Font Family (for content fonts)
$primary_font: Lato,
sans-serif;

// Default color palette
$plain_color: #ffffff;
// $plain_color: #4d4d4d;
// $primary_color: #322885;
// $primary_color: #8D31A4;
$primary_color: #242582;
$secondary_color: #fcec00;
$l2_header-color: #444;

$complementary_color: #f64c4c;


// Labels
$primary_label: #918f8fdd;